<div class="sidebar-sticky">
    <ul class="nav flex-column">
        <li class="nav-item">
            <a class="nav-link" ui-sref-active="active" ui-sref="inicio">
                <span class="fa fa-home"></span>
                Início
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" ui-sref-active="active" ui-sref="clientesList">
                <span class="fa fa-user-tag"></span>
                Clientes
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" ui-sref-active="active" ui-sref="ordensList">
                <span class="fa fa-tools"></span>
                Ordens de serviço
            </a>
        </li>
    </ul>
</div>